@{
    ViewData["Title"] = "Physician Dashboard";
}

<h2>Physician Dashboard</h2>
<p>Welcome, @Context.Session.GetString("UserName")</p>

<div>
    <a asp-controller="PhysicianNavigation" asp-action="PhysicianUpcomingAppointments">
        <div>
            <h3>View My Upcoming Appointments</h3>
        </div>
    </a>
</div>